table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    text-align: center;
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

img {
    height: 100px;
    width: 100px;
    border-radius: 10%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: rgb(215, 230, 230);
    height: 100vh;
    margin: 3px;

}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 0;
    height: 80vh;
    font-family: sans-serif;
    font-size: 1rem;
}

header {
    height: 8vh;
    background-color: #7ab5b2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 40vh; */
    width: 80vw;
    margin: 10px 0px;
    border-bottom: 1px solid rgb(140 140 140);
}

.form-input {
    margin: 5px;
    padding: auto;
    height: 2rem;
    width: 80vw;
    display: flex;
    justify-content: space-between;

}

input,
select {
    padding: 5px;
    height: 2rem;
    width: 9rem;
    margin-right: 20vw;
}

label {
    margin-left: 20vw;
    padding: 5px;
    font-size: 1rem;
    font-weight: bold;
}

table {
    height: 40vh;
    margin: 5px;
}

button {
    margin: 20px 10px;
    padding: 10px;
    box-shadow: -1px 0 0.4em rgb(179, 179, 176);
}

;